:root {
  --toast-success: #28a745;
  --toast-error: #dc3545;
}

.toast-parent {
  position: fixed;
}

.left-top {
  top: 10px;
  left: 10px;
}

.center-top {
  top: 10px;
  left: 50%;
  transform: translateY(-50%);
}

.right-top {
  top: 10px;
  right: 10px;
}

.bottom-left {
  bottom: 10px;
  left: 10px;
}

.bottom-center {
  bottom: 10px;
  left: 50%;
  transform: translateY(-50%);
}

.bottom-right {
  bottom: 10px;
  right: 10px;
}

.toast-item {
  border-radius: 4px;
  padding: 0.5rem 0.5em;
  margin-bottom: 0.5rem;
  &:last-child {
    margin-bottom: 0px;
  }
}

.toast-success {
  border: 2px solid var(--toast-success);
  border-left-width: 0.5rem;
}

.toast-error {
  border: 2px solid var(--toast-error);
  border-left-width: 0.5rem;
}
